:root {
  --yellow: #ed9526;
  --balck: #000;
  --blue: #c4dcfe;
}
.navbar {
  display: flex;
  position: sticky;
  height: 4em;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#Logo {
  align-self: flex-start;
  height: 4em;
  margin-right: 3em;
}

.nav-Btn {
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
  color: black;
}

.nav-Btn:hover {
  color: var(--yellow);
}
.searchBox {
  margin: auto;
  position: relative;
  background-color: #d8d8d8;
  width: 13em;
  height: 2em;
  padding: 0em 2em;
  border-radius: 0.5em;
}
.searchBox:hover {
  box-shadow: 1px 0px 5px 2px rgb(181, 178, 178);
}
.searchContainer {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.searchIcon {
  height: 1em;
  padding-top: 0.35em;
}
.search {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  background-color: #d8d8d8;
}

.Dash-Btn {
  margin-right: 3em;
}

ul {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
}
